@mixin responsiveapptemplate {

div.responsiveapptemplate {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.valo-menu.v-menubar-menuitem.useritem.v-icon {
	
    font-size: 42pt;
	
}

}