@import "../valo/valo.scss";
@import "addons.scss";

$vaadin-blue: #00b4f0;
$vaadin-pink: #e61e6d;
$vaadin-gray: #33383a;
$vaadin-white: #ffffff;


$valo-menu-title-background-color: $vaadin-blue;
$valo-menu-title-text-color: white;
$valo-menu-background-color: $vaadin-gray;
$valo-menu-badge-color: $vaadin-blue;

$v-background-color: $vaadin-white;

.demo {

	// Include valo theme styles in your theme
	@include valo;
	// Include addons
	@include addons;


	&.v-app {
		background-color: $v-background-color;
	}
	
	.valo-menu {
		border-right: none;
	}
	
	
	// *** COPY TO ADDON *** //
	.valo-menu-responsive[width-range~="0px-800px"] {
	
		.valo-menu-part {
			.valo-menu-title {
				.v-caption-menucaption {
				    font-size: 12pt;
				    line-height: 12px;
				}
			}
						
			.valo-menu-toggle {
				color: $valo-menu-title-text-color;
				
				&:focus:after {
					box-shadow: none;
				}
			}
			
			.user-menu {
				color: $valo-menu-title-text-color;
				
				.v-menubar-menuitem-caption {
					
					&:after {
						opacity: 0.8;
					}
				
					.v-icon {
						font-size:14pt;
						margin-left: 8px;
					}
				}
				
				.v-menubar-menuitem-useritem:hover {
					color: darken($valo-menu-title-text-color, 10%);
				}
			}
		}
	}
	
	.valo-menu-responsive[width-range~="801px-1100px"] {
	
		.valo-menu-part {
		
			.valo-menu-title {
				.v-caption-menucaption {
				    font-size: 20pt;
				    margin-left: auto;
				    margin-right: auto;
				    padding: 0;
				    
				    span {
				    	width:100%;
				    }
				}
				.v-label-menucaption {
					display: block;
					white-space: nowrap;
					padding-top: 3px;
				}
			}
			
			.user-menu {
			
				.v-icon {
					margin: 0;
				}
			}
			
			.valo-menu-item {
		
				// align icons
				.v-icon {
					position: initial;
				}
			}
		}
	}
	
	.valo-menu-responsive {
	
		.valo-menu-title {
		
			color: $valo-menu-title-text-color;
			border-bottom: none;
		
			@include valo-gradient($color: $valo-menu-title-background-color);
		
			.v-caption-menucaption {
				display: inline;
			    line-height: 18px;
			    padding-right: 10px;
			    font-size: 16pt;
			}
			
			&.cursor {
				cursor: pointer;
			}
		}
	
		.v-menubar-menuitem-useritem .v-icon {
			font-size: 24pt;
		}
		
		.valo-menu-item {
				
			padding-top: 6px;
		
			// align icons
			.v-icon {
				position: absolute;
			}
			.valo-menu-item-caption {
				padding-left: 28px;
			}
		
			span.badge {
				position: absolute;
				right: 10px;
				color: $valo-menu-badge-color;
			}
		}
	}

	// Fixes alignment of icons for menu items in the popup
	.v-menubar-popup {
		.v-menubar-submenu-user-menu {
			.v-menubar-menuitem {
				padding-left: 26pt;
				.v-icon {
					margin-left: -24px;
					padding-right: 4px;
				}
			}
		}
	}
}
